<html lang='fr'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Bienvenue sur Starter!</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f7f7f7; margin: 0; padding: 0; } .container { max-width:
      600px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,
      0, 0, 0.1); } .message { margin-top: 20px; text-align: right; } .btn { display: inline-block; padding: 10px 20px;
      background-color: #007bff; color: #fff; text-decoration: none; border-radius: 4px; transition: background-color
      0.3s ease; } .btn:hover { background-color: #0056b3; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='message'>
        <p>Cher(e) {{user.name}},</p>
        <p>
          Nous sommes ravis de vous accueillir sur la plateforme Fikiri.co! nous sommes heureux de vous compter parmi
          nous.
        </p>
        <p>
          Voici votre mot de passe par défaut:
          {{password}}. Nous vous recommandons de le modifier une fois connecté(e) pour des raisons de sécurité.
        </p>
        <p>Pour commencer, veuillez vous connecter à l'adresse suivante:</p>
        <p>
          <a class='btn' href='https://admin.fikiri.co'>Connexion à Fikiri.co</a>
        </p>
        <p>
          Si vous avez des questions ou rencontrez des problèmes lors de la connexion, n'hésitez pas à nous contacter à
          <a href='mailto:support@fikiri.co'>support@fikiri.co</a>. Notre équipe est là pour vous aider à tirer le
          meilleur parti de notre plateforme.</p>
        <p>Encore une fois, bienvenue à bord!</p>
        <p>Cordialement,</p>
        <p>L'équipe Fikiri</p>
      </div>
    </div>
  </body>
</html>