<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Code de réinitialisation du mot de Passe starter</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; } .container { max-width:
      600px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0,
      0, 0, 0.1); } h1 { color: #333; } p { color: #666; } .btn { display: inline-block; background-color: #007bff;
      color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 3px; } .btn:hover { background-color:
      #0056b3; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>Code de réinitialisation du mot de Passe starter</h1>
      <p>
        Cher(e)
        {{user.name}}, Pour réinitialiser votre mot de passe, utilisez le code suivant :
        {{token}}. Veuillez vous rendre sur la page de réinitialisation et suivre les instructions pour finaliser le
        processus.
      </p>
      <p><a href='https://fikiri.co/reset-password' class='btn'>Réinitialiser le mot de passe</a></p>
      <p> Si vous n'avez pas initié cette demande, veuillez contacter notre équipe de support dès que possible.</p>
      <p>Merci,<br /> L'équipe starter.</p>
    </div>
  </body>
</html>