<footer class="bg-white py-10">
  <div class="max-w-screen-lg mx-auto p-8">
    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="flex flex-col gap-2">
        <h5 class="font-semibold mb-4">Social</h5>
        <a aria-label="instagram link" target="_blank" href="https://www.linkedin.com/showcase/fikiri">Linkdin</a>
        <a aria-label="facebook link" target="_blank" href="https://www.facebook.com/fikiriSDG?mibextid=ViGcVu">
          Facebook
        </a>
        <a
          aria-label="instagram link"
          target="_blank"
          href="https://www.instagram.com/fikirisdg/?fbclid=IwAR32B-_YEZzAz-9K35Ee7xH1dvHKz1aeMprDZix8QG-DXQODqgVC8xK2pYw">
          Instagram
        </a>
      </div>
      <div class="flex flex-col gap-2">
        <h5 class="font-semibold mb-4">Contact</h5>
        <a href="mailto:support@fikiri.co">Email</a>
        <a href="tel:+243979265726">Téléphone</a>
        <a href="https://api.whatsapp.com/send?phone=+243979265726">Whatsapp</a>
      </div>
      <div class="flex flex-col gap-2 md:col-span-1">
        <a routerLink="/" class="flex items-center gap-3 cursor-pointer mb-4" aria-label="logo">
          <span class="font-bold text-2xl">clean area</span>
        </a>
        <h5 class="font-semibold mb-4">Copyright</h5>
        <p class="">&copy; CA {{ getYear() }}. Tous droits réservés</p>
      </div>
    </div>
  </div>
</footer>
